*{
    border-width: 1px;
}

.container{
    display: row;
    justify-content:space-between;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-bottom: 100px;
}



h1{
    color: rgb(59, 51, 51);
    padding-top: 76px;
    margin-bottom: 10%;
}

/* THE TREE CONTAINERS*/
.sec1{
    position: relative;
    display: block;
    background-color: grey;
    border-style: solid;
    padding: 5px;
    width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    margin-bottom: 35px;

}
.sec2{
    position: relative;
    display: block;
    background-color: grey;
    border-style: solid;
    padding: 5px;
    width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    margin-bottom: 35px;
}

.sec3{
    position: relative;
    display: block;
    background-color: grey;
    border-style: solid;
    padding: 5px;
    width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    bottom: 10px;
   
}

/* THE CONTENT INSIDE EACH BOX */

.txtbox1{
    font-size: 16px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-style: solid;
    width: 110px;
    height: 27px;
    background-color: pink;
    text-align: center;
    border-width: thin;
    border-top: hidden;
    border-right: hidden;
}

.txtbox2{
    font-size: 16px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-style: solid; 
    border-color: black;
    width: 110px;
    height: 27px;
    background-color: rgb(255, 16, 16);
    color: white;
    text-align: center;
    border-width: thin;
    border-top: hidden;
    border-right: hidden;
}

.txtbox3{
    font-size: 16px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-style: solid;
    width: 110px;
    height: 27px;
    background-color: rgb(253, 242, 78);
    text-align: center;
    border-width: thin;
    border-top: hidden;
    border-right: hidden;
    margin-bottom: 20px;
}

/* THE ACTUALL TEXT*/

.longtxt1{
    margin-top: 12px;
    display: inline-block;
    padding: 30px;
}
.longtxt2{
    margin-top: 12px;
    display: inline-block;
    padding: 30px;
}

.longtxt3{
    margin-top: 12px;
    display: inline-block;
    padding: 30px;
}





@media screen and (max-width: 767px) {
    .sec1{
        display: block;
        width: 100%;
    
    }
    .sec2{
        display: block;
        width: 100%;
    }
    .sec3{
        display: block;
        width: 100%;
    }
    
}
